@{
    ViewData["Title"] = "Criar Contatos";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar contatos</h1>
</div>
<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite o e-mail do contato">
    </div>
    <div class="form-group">
        <label for="nome">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o celular do contato">
    </div>
    <br />
    <button type="submit" class="btn btn-warning">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>