@
{
    ViewData["Title"] = "Confirmação apagar o contatos";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja apagar o contato ?</h3>
    <br />
    <a class="btn btn-warning" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-warning" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>
</div>


