@model ControleDeContatos.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ben vindo, @Model.Nome</h1>
    <p>Meu primeiro Site MVC.</p>
    <span>Seu e-mail é: @Model.Email</span>
</div>
